# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
static/

# Environment
.env
.env.local
.env.production

# Virtual environment
venv/
env/
ENV/
myenv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Uploads
/media/
/post_images/